@mixin on-mobile {
  @media (max-width: 640px) {
    @content;
  }
}

.categories-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.categories-title {
  display: flex;
  align-items: center;
}

.categories-variants {
  display: flex;
  gap: 16px;

  @include on-mobile {
    flex-direction: column;
    gap: 32px;
  }
}

.categories-type {
  display: flex;
  flex-direction: column;
  gap: 24px;

  transition: all 0.3s;
}

.categories-type:hover {
  scale: 1.05;
}

.categories-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  display: flex;
  align-items: center;
}

.subtitle {
  color: theme('colors.secondary');
}
