.card {
  padding: 32px;
  max-width: 287px;
  min-width: 227px;
  box-sizing: border-box;
  border: 1px solid #e2e6e9;
  background-color: #ffffff;
  border-radius: 8px;
  color: #333333;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.card__head-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.img_url {
  display: block;
  min-height: 100px;
  max-height: 196px;
  object-fit: contain;
  flex-grow: 100%;
  margin: 0 auto;
}

.card__img {
  min-height: 100px;
  max-height: 196px;
  height: 100%;
  width: 100%;
}

.card__model {
  display: flex;
  align-items: flex-end;
  flex: 1 1 auto;
  min-height: 42px;
  margin-top: 16px;
  line-height: 21px;
  max-height: 79px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

.card__price-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e2e6e9;
}

.card__price-current {
  padding: 8px 0;
  font-size: 22px;
  font-weight: 800;
  color: #333333;
}

.card__price-old {
  position: relative;
  padding: 8px 0;
  isolation: isolate;
  font-size: 22px;
  font-weight: 600;
  color: #89939a;
}

.card__price-old::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #89939a;
  transform: translateY(-50%);
  mix-blend-mode: color-dodge;
}

.card__info-container {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  line-height: 15px;
}

.card__info-title-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  color: #89939a;
}

.card__info-param-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  color: #333333;
  text-align: right;
}

.card__buttons-container {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.card__buttons-favorite {
  height: 40px;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #0f0f11;
  border: 1px solid #b4bdc3;
  border-radius: 50%;
  background-color: #ffffff;

  cursor: pointer;
  transition: all 0.3s;
}

.card__buttons-favorite:hover {
  border: 1px solid #0f0f11;
}

// .card:hover {
//   transform: scale(1.05);
// }
