.card {
  padding: 32px;
  width: 272px;
  box-sizing: border-box;
  border: 1px solid #e2e6e9;
  background-color: #ffffff;
  border-radius: 8px;
  color: #333333;
  transition: all 0.3s;

  &__head-container {
    width: 208px;
    display: flex;
    flex-direction: column;

    gap: 8px;
    height: 262px;
  }

  &__img-link {
    flex: 1 1 auto;
    min-height: 10px;
    max-height: 196px;
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 196px;
  }

  &__model {
    flex: 1 1 auto;
    min-height: 42px;
    margin-top: 16px;
    line-height: 21px;
    max-height: 79px;

    font-size: 14px;
    font-weight: 600;
    color: #333333;

    &.overflow {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__price-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 50px;

    gap: 8px;

    border-bottom: 1px solid #e2e6e9;
  }

  &__price-current {
    padding: 8px 0;

    font-size: 22px;
    font-weight: 800;
    color: #333333;
  }

  &__price-old {
    position: relative;

    padding: 8px 0;

    font-size: 22px;
    font-weight: 600;
    color: #89939a;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 55%;
      width: 100%;
      height: 2px;
      background-color: #89939a;
      transform: translateY(-50%);
      // mix-blend-mode: color-dodge;
    }
  }

  &__info-container {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;

    line-height: 15px;
  }

  &__info-title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    color: #89939a;
  }

  &__info-param-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    color: #333333;

    text-align: right;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__buttons-add {
    font-family: inherit;
    height: 40px;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #4219d0;
    border: none;
    border-radius: 48px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #ffffff;
      color: #4219d0;
      border: 1px solid #e2e6e9;
      box-shadow: 0px 3px 13px 0px #17203166;
    }
  }

  &__buttons-favorite {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0f0f11;
    border: 1px solid #b4bdc3;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      border: 1px solid #0f0f11;
    }
  }

  &:hover {
    transform: (scale(1.1));
  }
}
