@use 'src/styles/utils/library' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 32px;
  width: 100%;

  border: 1px solid theme('colors.elements');
  background-color: theme('colors.surface1');
  border-radius: theme('borderRadius.sm');

  transition: all 0.3s;

  color: theme('colors.primary');

  &:hover {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 10%);
  }
}

.img_url {
  display: block;
  height: 130px;
  margin: 0 auto;

  @include on-tablet {
    height: 196px;
  }
}

.card__img {
  height: 100%;
}

.card__model {
  display: flex;
  align-items: end;

  min-height: calc(21px * 3);
}

.card__price-container {
  display: flex;
  align-items: center;
  gap: 8px;

  padding-bottom: 8px;
  border-bottom: 1px solid theme('colors.elements');
}

.card__price-old {
  $line-width: 105%;

  isolation: isolate;
  position: relative;

  font-size: 22px;
  font-weight: 400;
  line-height: 21px;
  color: theme('colors.secondary');

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(($line-width - 100%) / 2 * -1);

    height: 2px;
    width: $line-width;
    background-color: theme('colors.secondary');
    transform: translateY(-50%);
    mix-blend-mode: color-dodge;
  }
}

.card__info-container {
  display: flex;
  justify-content: space-between;
  padding-block: 8px;
}

.card__info-title-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: theme('colors.secondary');
}

.card__info-param-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  text-align: right;
}

.card__buttons-container {
  display: flex;
  gap: 8px;
}

.theme-dark {
  .card {
    border: none;
  }
}
