@mixin on-mobile {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 640px) and (max-width: 1200px) {
    @content;
  }
}
@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

.container {
  display: inline-flex;
  flex-direction: column;

  max-width: 100% !important;

  @include on-tablet {
    max-width: 100% !important;
  }

  @include on-desktop {
    max-width: 1136px !important;
  }
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;

  margin-bottom: 24px;
  max-width: 1136px;

  @include on-mobile {
    margin-inline: 16px;
  }

  @include on-tablet {
    margin-inline: 24px;
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.button-prev,
.button-next {
  height: 32px;
  width: 32px;
}

.swiper-phones-slider {
  display: inline-flex;
  align-items: flex-start;

  margin: 0 !important;

  @include on-tablet {
    max-width: 100% !important;
  }

  .swiper-wrapper {
    @include on-mobile {
      margin-left: 16px;
    }

    @include on-tablet {
      margin-left: 24px;
    }
  }

  .swiper-slide {
    width: 272px !important;
  }

  .slider-title {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -0.01em;
  }
}
