@mixin on-tablet {
  @media (min-width: 640px) and (max-width: 1200px) {
    @content;
  }
}
@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  max-width: 560px !important;
  min-width: 272px;

  @include on-tablet {
    max-width: 848px !important;
  }

  @include on-desktop {
    max-width: 1136px !important;
  }
}

.swiper {
  justify-content: center;
  flex-direction: row;
  margin: 0 !important;
}

.swiper-slide {
  width: 272px !important;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  max-width: 1136px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.01em;

  font-weight: 800;
  color: #0f0f11;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.button-prev {
  box-sizing: border-box;

  height: 32px;
  width: 32px;
  border-radius: 48px;
  background-color: #fff;

  box-shadow: 0px 1px 4px 0px #17203166;
}

.disabled-left {
  border: 1px solid #e2e6e9;
  background: center no-repeat
    url('public/img/icons/svg/arrow-left-disabled.svg');
}

.is-active-left {
  border: 1px solid #b4bdc3;
  background: center no-repeat url('public/img/icons/svg/icon-arrow-left.svg');
}

.button-next {
  box-sizing: border-box;

  height: 32px;
  width: 32px;

  border-radius: 48px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px #17203166;
}

.disabled-right {
  border: 1px solid #e2e6e9;
  background: center no-repeat
    url('public/img/icons/svg/arrow-right-disabled.svg');
}

.is-active-right {
  border: 1px solid #b4bdc3;
  background: center no-repeat url('public/img/icons/svg/icon-arrow-right.svg');
}
