$header-icon-padding: 32px;
$header-size: $header-icon-padding * 2;

@mixin on-tablet {
  @media (min-width: theme('screens.tablet')) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: theme('screens.desktop')) {
    @content;
  }
}

@mixin after-underscore-base {
  content: '';
  position: absolute;

  left: 50%;

  display: block;
  height: 2px;
  width: 100%;
  margin-left: -50%;

  transition: transform 0.3s;
  transform-origin: left;

  @include on-tablet {
    height: 3px;
  }
}

@mixin nav-link-after {
  bottom: calc(theme('spacing.8') * -1);

  @include after-underscore-base;

  @include on-tablet {
    bottom: -130%;
  }
}

@mixin header-icon-after {
  bottom: 0;

  @include after-underscore-base;
}

@mixin padding-inline {
  padding-inline: theme('spacing.16');

  @include on-tablet {
    padding-inline: theme('spacing.24');
  }

  @include on-desktop {
    padding-inline: theme('spacing.32');
    max-width: theme('screens.desktop');
    margin-inline: auto;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;
  }
}
