@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Mont-Regular.otf) format('opentype');
  }

  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Mont-SemiBold.otf) format('opentype');
  }

  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Mont-Bold.otf) format('opentype');
  }

  :root {
    --color-white: #ffffff;
    --color-black: #0f1121;
    --color-accent: #4219d0;
    --color-accent-light: #5e35f0;
    --color-secondary-accent: #f4ba47;
    --color-primary: var(--color-black);
    --color-secondary: #89939a;
    --color-icons: #b4bdc3;
    --color-elements: #e2e6e9;
    --color-hover-and-bg: #fafbfc;
    --color-surface1: var(--color-white);
    --color-surface2: var(--color-white);
    --color-toggle-light: var(--color-secondary-accent);
    --color-toggle-dark: var(--color-white);

    color: theme('colors.primary');

    @apply text-body;
  }

  .theme-dark {
    --color-white: #f1f2f9;
    --color-black: #0f1121;
    --color-primary: var(--color-white);
    --color-accent: #905bff;
    --color-accent-light: #a378ff;
    --color-secondary-accent: #eb5757;
    --color-secondary: #75767f;
    --color-icons: #4a4d58;
    --color-elements: #3b3e4a;
    --color-hover-and-bg: var(--color-black);
    --color-surface1: #161827;
    --color-surface2: #323542;

    color: theme('colors.primary');
  }

  h1 {
    @apply text-h1;

    @screen tablet {
      @apply text-h1-lg;
    }
  }

  h2 {
    @apply text-h2;

    @screen tablet {
      @apply text-h2-lg;
    }
  }

  h3 {
    @apply text-h3;

    @screen tablet {
      @apply text-h3-lg;
    }
  }

  h4 {
    @apply text-h4;

    @screen tablet {
      @apply text-h4-lg;
    }
  }

  button {
    @apply text-buttons;
  }
}
