@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Mont-Regular.otf) format('opentype');
  }

  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Mont-SemiBold.otf) format('opentype');
  }

  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Mont-Bold.otf) format('opentype');
  }

  :root {
    --color-white: #FFFFFF;
    --color-black: #0F1121;
    --color-accent: #4219d0;
    --color-accent-light: #5e35f0;
    --color-secondary-accent: #F4BA47;
    --color-primary: var(--color-black);
    --color-secondary: #89939A;
    --color-icons: #B4BDC3;
    --color-elements: #E2E6E9;
    --color-hover-and-bg: #FAFBFC;
    --color-surface1: var(--color-white);
    --color-surface2: var(--color-white);
    --color-toggle-light: var(--color-secondary-accent);
    --color-toggle-dark: var(--color-white);

    color: theme('colors.primary');

    @apply text-body;
  }

  .theme-dark {
    --color-white: #F1F2F9;
    --color-black: #0F1121;
    --color-primary: var(--color-white);
    --color-accent: #905BFF;
    --color-accent-light: #A378FF;
    --color-secondary-accent: #EB5757;
    --color-secondary: #75767F;
    --color-icons: #4A4D58;
    --color-elements: #3B3E4A;
    --color-hover-and-bg: var(--color-black);
    --color-surface1: #161827;
    --color-surface2: #323542;

    color: theme('colors.primary');
  }

  h1 {
    @apply text-h1;

    @screen tablet {
      @apply text-h1-lg;
    }
  }

  h2 {
    @apply text-h2;

    @screen tablet {
      @apply text-h2-lg;
    }
  }

  h3 {
    @apply text-h3;

    @screen tablet {
      @apply text-h3-lg;
    }
  }

  h4 {
    @apply text-h4;

    @screen tablet {
      @apply text-h4-lg;
    }
  }

  button {
    @apply text-buttons;
  }
}
