@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Mont-Regular.otf) format('otf');
  }

  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Mont-SemiBold.otf) format('otf');
  }

  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Mont-Bold.otf) format('otf');
  }

  :root {
    color: theme('colors.primary');

    @apply text-body;
  }

  h1 {
    @apply text-h1;

    @screen tablet {
      @apply text-h1-lg;
    }
  }

  h2 {
    @apply text-h2;

    @screen tablet {
      @apply text-h2-lg;
    }
  }

  h3 {
    @apply text-h3;

    @screen tablet {
      @apply text-h3-lg;
    }
  }

  h4 {
    @apply text-h4;

    @screen tablet {
      @apply text-h4-lg;
    }
  }

  button {
    @apply text-buttons;
  }
}
