$primary-color: #0F0F11;
$secondary-color: #89939A;
$accent-color: #4219D0;
$secondary-accent-color: #F4BA47;
$icons-color: #B4BDC3;
$elements-color: #E2E6E9;
$hover-bg-color: #FAFBFC;
$white-color: #fff;
$green-color: #27AE60;
$red-color: #EB5757;

$tablet-min-width: 640px;
$descktop-min-width: 1200px;

