@use 'src/styles/utils/library' as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: $header-size-mobile;

  z-index: 3;

  @include on-desktop {
    height: $header-size-desktop;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-inline: 24px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;

    &--fav,
    &--cart {
      position: relative;

      &::after {
        background-color: theme('colors.primary');
        transform: scale(0);

        @include after-underscore-base;
      }

      &:hover::after {
        transform: scale(1);
      }
    }

    &--active {
      &::after {
        background-color: theme('colors.primary');
        transform: scale(1);

        @include after-underscore-base;
      }
    }
  }
}

.logo {
  &__img {
    height: 22px;

    @include on-desktop {
      height: 28px;
    }
  }
}
