@use 'src/styles/utils/library' as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: theme('colors.white');

  border-bottom: 1px solid theme('colors.elements');
  z-index: 3;

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__icon {
    padding: $header-icon-padding;

    cursor: pointer;
    box-shadow: -1px 0 theme('colors.elements');

    transition: background 0.2s ease-in-out;

    &--open {
      background: no-repeat center url('img/icons/svg/icon-burger-menu.svg');
    }

    &--close {
      background: no-repeat center url('img/icons/svg/icon-close-black.svg');
    }

    &--fav {
      background: no-repeat center
        url('img/icons/svg/icon-favourites.svg');
    }

    &--cart {
      background: no-repeat center url('public/img/icons/svg/icon-shoping-cart.svg');
    }

    &--fav,
    &--cart {
      position: relative;

      &::after {
        background-color: theme('colors.primary');
        transform: scale(0);

        @include header-icon-after;
      }

      &:hover::after {
        transform: scale(1);
      }
    }

    &--active {
      &::after {
        background-color: theme('colors.primary');
        transform: scale(1);

        @include header-icon-after;
      }
    }
  }
}

.logo {
  &__img {
    height: 22px;

    @include on-desktop {
      height: 28px;
    }
  }
}
