.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px;
  color: #89939a;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  &__button {
    margin: 0 auto;
  }

  &__button-icon {
    border: 1px solid #89939a;
  }
}
