@mixin on-tablet {
  @media (min-width: 639px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.swiper {
  min-height: 352px;
  min-width: 320px;

  @include on-tablet {
    min-height: 221px;
    max-width: 592px;
  }

  @include on-desktop {
    max-width: 1136px;
    min-width: 1136px;
    min-height: 432px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.slide {
  min-width: 320px;

  min-height: 320px;

  height: 90%;
  width: 100%;
  box-shadow: 0px 3px 13px 0px #17203166;

  @include on-tablet {
    max-width: 490px;
    min-height: 189px;
    max-height: 189px;

    border-radius: 8px;
  }

  @include on-desktop {
    max-width: 1040px;
    max-height: 400px;
    border-radius: 8px;
  }
}

.swiper-button-next {
  max-height: 400px;
  height: 100%;
  width: 32px;

  background: center no-repeat url('public/img/icons/svg/icon-arrow-right.svg');
  border: 1px solid #b4bdc3;
  border-radius: 48px;
  background-color: #fff;
  margin: 0;
  right: 0;
  top: 0;

  box-shadow: 0px 1px 4px 0px #17203166;

  visibility: hidden;

  @include on-tablet {
    visibility: visible;
    max-height: 189px;
  }

  @include on-desktop {
    visibility: visible;
    max-height: 400px;
  }
}

.swiper-button-prev {
  height: 100%;
  width: 32px;

  background: center no-repeat url('public/img/icons/svg/icon-arrow-left.svg');
  border: 1px solid #b4bdc3;
  border-radius: 48px;

  background-color: #fff;
  margin: 0;
  top: 0;
  left: 0;

  box-shadow: 0px 1px 4px 0px #17203166;

  visibility: hidden;

  @include on-tablet {
    visibility: visible;
    max-height: 189px;
  }

  @include on-desktop {
    visibility: visible;
    max-height: 400px;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-pagination-bullet {
  background-color: #b4bdc3;
  width: 14px;
  height: 4px;
  border-radius: 0;

  box-shadow: 0px 3px 13px 0px #17203166;
}

.swiper-pagination-bullet-active {
  background-color: #0f0f11;
  width: 14px;
  height: 4px;
  margin-inline: 10px !important;
}
